<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>530776093854-i9bvn7uje8asl867vpgl6kr5d6ijc937.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530776093854-i9bvn7uje8asl867vpgl6kr5d6ijc937</string>
	<key>API_KEY</key>
	<string>AIzaSyBqBxQhPKQUo0MYTrpYwcyRb3gIoCaefjU</string>
	<key>GCM_SENDER_ID</key>
	<string>530776093854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wvdk.HelloWorld</string>
	<key>PROJECT_ID</key>
	<string>helloworld-e600a</string>
	<key>STORAGE_BUCKET</key>
	<string>helloworld-e600a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:530776093854:ios:069521381a975f88</string>
	<key>DATABASE_URL</key>
	<string>https://helloworld-e600a.firebaseio.com</string>
</dict>
</plist>