<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Core Graphics Experiments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEAA40081B4835EA007ABA4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEAA401E1B4835EA007ABA4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEAA40291B4835EA007ABA4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
