<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyLog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEB448291B2E4AFC0012CA8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEB448401B2E4AFD0012CA8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEB4484B1B2E4AFD0012CA8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
